VITE_FIREBASE_API_KEY=AIzaSyBauL0R-5L6kuElaTRb8Y5sC5uWcSmWB_o
VITE_FIREBASE_AUTH_DOMAIN=teste-sendflow.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=teste-sendflow
VITE_FIREBASE_STORAGE_BUCKET=teste-sendflow.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1084284814460
VITE_FIREBASE_APP_ID=1:1084284814460:web:4da0d8e70c418498fa75f9
